@echo off
REM runXACMLSample.bat
REM Copyright (c) 2011, Oracle and/or its affiliates. All rights reserved. 

SETLOCAL

SET CLSPATH="@external_jars@;%~dp0@project_name@.jar"

java -cp %CLSPATH% -Dwssm.url="@wssm.url@" oracle.security.jps.xacml.sample.ConsoleMenu

ENDLOCAL
